<div class="col">
  <div class="card h-100 border-0 shadow-sm course-card">
    <div class="position-relative">
      <img [src]="course()?.img" class="card-img-top p-2 rounded-4" [alt]="course()?.title">
      @if(course()?.badge){
        <span class="badge bg-success position-absolute top-0 end-0 m-3 shadow-sm">
          {{course()?.badge}}
        </span>
      }
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between mb-2">
        <small class="text-success fw-bold">{{course()?.category}}</small>
        <small class="text-muted"><i class="bi bi-star-fill text-warning"></i> {{course()?.rating}}
          ({{course()?.enrollments}})</small>
      </div>
      <h5 class="card-title fw-bold">{{course()?.title}}</h5>
      <p class="card-text text-muted small">{{course()?.description}}</p>
      <div class="border-top pt-3 d-flex justify-content-between align-items-center">
        <button class="btn btn-outline-success btn-sm px-3 rounded-pill">Enroll Now</button>
      </div>
    </div>
  </div>
</div>